[package]
name = "check-broken-packages"
version = "1.0.0"
authors = ["desbma <desbma@users.noreply.github.com>"]
edition = "2018"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
anyhow = "1.0"
ansi_term = "0.12"
crossbeam = "0.7"
glob = "0.3"
indicatif = "0.13"
log = { version = "0.4", features = ["max_level_off", "release_max_level_off"] }
num_cpus = "1.11"
simple_logger = { version = "1.3", default-features = false }

[dev-dependencies]
tempdir = "0.3"
